.homepage-hero {
    width: 100%;
    height: 35vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../ele.png');
    background-size: cover;
    background-position: center;
}


.md-header {
    background-image: url('../ele.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.md-header__inner {
    background-color: transparent;
}

body,
.md-content,
.md-main {
    background: linear-gradient(135deg, #5f2c82, #b185db); /* light gray */
}
.md-content h1:first-of-type {
    display: none;
}
