.homepage-hero {
    width: 100%;
    height: 35vh;
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../ele.png');
    background-size: cover;
    background-position: center;
}

/* 顶部整体背景图 */
/* ✅ 只给整体 header 设置背景图 */
.md-header {
    height: 290px;
    background: url('../ele.png') no-repeat center center;
    background-size: cover;
}

/* ✅ 其他部分保持透明 */
.md-header__inner,
.md-tabs__list {
    background: transparent;
    background-image: none;
}


/* 增加高度让图片更完整显示 */
.md-header {
    height: 290px;
}
.md-tabs {
    height: 60px; /* 控制导航栏本身高度 */
    align-items: center;
    
}
.md-tabs{
    background-color: rgba(245, 245, 220, 0.7);
}
/* 调整导航菜单项垂直居中 */
.md-tabs__list {
    height: 100%;
    display: flex;
    align-items: center;
}
/* 页面背景使用渐变 */

.md-main{
    
    
    background: transparent;
}
.md-content {
    
    background: transparent;
}

/* 隐藏默认的页面大标题 */
.md-content h1:first-of-type {
    display: none;
}

/* 设置手写体 */
body {
    font-family: 'Fira Sans', sans-serif;
    background: transparent;
}
